@model IEnumerable<Prueba.Models.Matricula>

@{
    ViewBag.Title = "Index";
}




<div class="panel panel-default" style="margin-top:30px;">
    <div class="panel-heading">
        <h3 class="panel-title">@ViewBag.NombreAlumno</h3>
        <br />
        @Html.ActionLink("Matricular a un curso", "Create", new { IdAlumno = ViewBag.AlumnoId })

    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FechaMatricula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AlumnoId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cursos.Nombre)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaMatricula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AlumnoId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cursos.Nombre)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.MatriculaId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.MatriculaId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.MatriculaId })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>



